# # Firebase Configuration
# NEXT_PUBLIC_FIREBASE_API_KEY=AIzaSyBIE0jObXl8aF07YhekVkm-I3xlCgGMwJ8
# NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=cognimuse-main.firebaseapp.com
# NEXT_PUBLIC_FIREBASE_PROJECT_ID=cognimuse-main
# NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=cognimuse-main.firebasestorage.app
# NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=952547127920
# NEXT_PUBLIC_FIREBASE_APP_ID=1:952547127920:web:132198df811af1c1963ab5
# NEXT_PUBLIC_FIREBASE_MEASUREMENT_ID=G-KVXS61K9PZ

# # Razorpay Configuration
# RAZORPAY_KEY_ID=rzp_live_SCPjVOLrxZ9zOT
# RAZORPAY_KEY_SECRET=BpluhE3YDTvi7HGJp101rPoC
# NEXT_PUBLIC_RAZORPAY_KEY_ID=rzp_live_SCPjVOLrxZ9zOT

# ADMIN_USERNAME=admin
# ADMIN_PASSWORD=admin@cognimuse